{% extends "billerboard/base.html" %} {% load static %} {% load humanize %} {%
load avatar_tags %} {% load custom_filters %} {% block content %}


<div class="page-content">
  <!--end breadcrumb-->
  <!--start stepper three-->
  <h6 class="text-uppercase">Daily Survey List</h6>
  <hr />
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered mb-0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Role</th>
            <th scope="col">Questions & Answers</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for data in survey_data %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{data.role}}</td>
            <td >
              {% if data.answers|length > 0 %}
                {% with first_answer=data.answers.0 %}
                  {% if first_answer.answer %}
                    <div class="text-primary ">
                      <strong>Question 1: {{ first_answer.question }} ... </strong>
                    </div>
                  {% endif %}
                {% endwith %}
              {% endif %}
            </td>
            <td>{{data.created_at}}</td>
            <td>
              <a href="{% url 'dailysurvey_detail' data.id %}" class="btn btn-primary btn-sm">See more </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!--end stepper three-->
</div>
{% endblock %}



{% block scripts %}

{% endblock scripts %}
