Hallo,<br>
<br>
ein neuer Deal ist online:<br>
<br>
Handelsvertreter: {{deal.user.first_name}} {{deal.user.last_name}} ({{deal.user.email}})
Kunde: {{ deal.unternehmen }}<br>
Kandidat: {{ deal.kandidat }}<br>
Summe: {{ deal.amount }}<br>
Close-Datum: {{ deal.deal_closed_at }}<br>
Antrittsdatum: {{ deal.antrittsdatum }}<br>
Kulanz bis: {% if deal.kulanz_bis %}{{ deal.kulanz_bis }}{% else %}-{% endif %}<br>
<br>
Du kannst die Daten für disen Deal hier runterladen: {{ datenlink }}<br>
<br>

Alle Angaben erfolgen ohne Gewähr. 
<br>
Bitte prüfe die Daten und gib uns Bescheid, wenn etwas nicht stimmt.<br>
<br>

Viele Grüße<br>
Dein Billerboard-Team
