{% extends "billerboard/base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
    <br>
    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required>
    <br>
    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required>
    <br>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <br>
  
    <input type="email" id="email" name="email" class="form-control" placeholder="E-Mail" required>
    <br>

    <br>
    <label for="rate">Rate:</label>
    <select id="rate" name="rate" class="form-select"required>
        {% for rate in rates %}
        <option value="{{rate.id}}" class="form-select">{{rate.rate}}€</option>

        {% endfor %}
    </select>
    <br>
    <input class="btn btn-success" type="submit" value="Create User">
</form>
{% endblock content %}